
.vs/

Framework/Framework.MongoDb/bin/
Framework/Framework.Auth/obj/
Framework/Framework.Auth/bin/
Framework/Framework.HTTP/obj/
Framework/Framework.HTTP/bin/
Framework/Framework.PostgreSQL/obj/
Framework/Framework.PostgreSQL/bin/
Framework/Framework.Sql/bin/
Framework/Framework.Sql/obj/
Framework/Framework.Swagger/obj/
Framework/Framework.Swagger/bin/
Framework/Framework/obj/
Framework/Framework/debug/
Hx.Services/obj/
Hx.Services/bin/
